@model Source.Models.AdminModel
<style>
    nav {
        position: relative !important;
        color: black !important;
    }

    a {
        color: black !important;
    }
    #login-button{
        display: none;
    }
</style>

<div class="container">
    <h4>AdminModel</h4>
    <hr />
    <dl class="row p-0 m-0">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PhoneNo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PhoneNo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Department)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Department)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
    </dl>
    <div class="col-sm-10" style="padding: 0px;">
        <form asp-action="UpdateTask">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="StudentEmail" class="control-label"></label>
                <input asp-for="StudentEmail" class="form-control" />
                <span asp-validation-for="StudentEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UpdateTask" class="control-label"></label>
                <input asp-for="UpdateTask" class="form-control" type="text" />
                <span asp-validation-for="UpdateTask" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" type="email" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Update" class="btn btn-primary" />
            </div>
        </form>
    </div>
    @*<div class="col-sm-10">
        <form asp-action="Search">
            <input type="submit" value="Search" class="btn btn-primary" />
        </form>
    </div>*@

</div>
