@model Source.Models.StudentModel
<style>
    nav{
        position:relative !important;
        color: black !important;
    }
    a{
        color:black !important;
    }
     #search-button{
        display:none;
    }
    #login-button{
        display: none;
    }
</style>
<div>
    <h4>StudentModel</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PhoneNo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PhoneNo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Department)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Department)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Task)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Task)
        </dd>
    </dl>

    <h4> Upload Task File</h4>
    <form method="post" enctype="multipart/form-data" asp-controller="Student" asp-action="Upload">
        <div class="form-group">
            <label asp-for="Email" class="control-label"></label>
            <input asp-for="Email" class="form-control" name="email" />
        </div>
        <div class="form-group">
            <div class="col-md-10">
                <input type="file" name="files" multiple />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-5">
                <input class="btn-outline-dark" type="submit" value="Upload" />
            </div>
        </div>
    </form>


</div>


